[Desktop Entry]
Type=Application
Icon=/usr/share/yed/icons/yed.ico
Exec=yed %f
StartupNotify=true
StartupWMClass=B-A-A-B
Name=yEd Graph Editor
Categories=Application;Graphics;VectorGraphics;Java;
